@import "~font-awesome/css/font-awesome.css";
@import "~semantic-ui-css/semantic.min.css";
@import "~react-datepicker/dist/react-datepicker.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: auto;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #e74c3c;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: #2980b9;
  opacity: 0.75;
  text-decoration: underline;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.ui.menu .active.item {
  background-color: #3498db !important;
  border-bottom: solid #e67e22 !important;
}

.login div label {
  text-align: left;
  color: #2980b9 !important;
}

.login div .disabled > label {
  text-align: left;
  color: #2980b9 !important;
  opacity: 1 !important;
}

.ui.form .disabled.field {
  opacity: 1 !important;
}

.ui .form .disabled .input {
  border: solid #16a085 2px;
  font-size: 24px;
}

.login div {
  width: 350px !important;
  margin: auto;
}

.login div input {
  font-size: 32px !important;
  height: 32px;
  color: #2980b9 !important;
}

.login .button {
  width: 350px !important;
  height: 46px !important;
}


.billing .activities {
  border: solid #7f8c8d 1px;
  width: 90% !important;
  margin: 20px 20px !important;
  padding: 20px 20px !important
}

.billing .steps {
  margin: auto;
}

.master {
  width: 250px;
  margin: 20px 20px;
  background-color: #ffffff;
  text-color: #2980b9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 10px !important;
}

.master .header.head {
  font-size: 20px;
  color: #c0392b !important;
  text-transform: uppercase;
  padding-top: 10px !important;
}

.master .content {
  margin: 20px 20px;
}

.billing .box {
  display: flex;
  flex-wrap: wrap;
}

.content .header{
  color: #2980b9 !important;
}

.modal span.head {
  text-transform: uppercase;
  color: #2980b9 !important;
}

h1.ui.header {
    text-align: center;
}

.billing .summary {
  text-align: center;
  width: 400px;
  margin: auto;
}

.billing .ui.form .field.error .ui.dropdown {
  border-width: 4px !important;
}

.billing .negative.message {
  margin: auto !important;
  text-align: center !important;
}

.reports td.price {
  text-align: right !important;
  font-size: 20px;
  color: #2c3e50;
}

.billing .form .fields.actionButtons {
    bottom: 0 !important;
    position: fixed !important;
    width: 99%;
}

.billing form.ui.form {
    min-height: 600px;
}

.page {
    width: 21cm;
    min-height: 27.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    text-color: black !important;
    color: black !important;
}
.subpage {
    padding: .5cm;
    border: 2px red solid;
    height: 256mm;
    outline: 1cm #FFEAEA solid;
    text-color: black !important;
    color: black !important;
}

@page {
    size: A4;
    margin-bottom: 25mm ;
    margin-top: 25mm ;

}
@media print {
    html, body {
      width: 210mm;
      height: 297mm;
    }
    .page {
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
        position: relative;
        margin: -2cm auto;
        text-color: black !important;
        color: black !important;
    }
}

.printPageHeader {
  text-align: center;
  text-transform: uppercase;
}

.printer footer {
  font-size: 10px;
  color: #dadada;
  right: 0;
  bottom: 20px;
  left: 0;
  position: absolute;
}

.page .copy {
  height: 120mm;
  color: black !important;
  border: solid red 2px;
  padding: 10px 10px;
  margin: 60px 10px;
  margin-top: 0px;
  text-align: center;
  position: relative;
}

.page .copy h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}


.orderHeader td.value {
    text-align: left;
    font-weight: bolder;
    padding-left: 10px;
    font-size: 16px;
}

.orderHeader td.key {
    text-align: right;
}

.orderHeader table {
    width: 100%;
}


.ui.statistics {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 1em -1.5em -2em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px !important;
}

.ui.statistics>.statistic {
  margin: auto !important;
}

.ui.statistic {
  margin: auto !important;
}


.copy footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: #bdc3c7;
}

hiftPicker.dropdown {
    float: left;
    height: 40px;
}


.reports .datePicker {
    float: left;
    width: 140px;
    height: 40px;
    font-size: 24px;
    color: #2980b9;
}

a.ui.massive.label {
    float: right;
}

.ui.fluid.attached.button {
    text-align: center;
}

button.ui.button.hide {
  display: none;
}
