@import "~font-awesome/css/font-awesome.css";
@import "~semantic-ui-css/semantic.min.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: auto;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #e74c3c;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: #2980b9;
  opacity: 0.75;
  text-decoration: underline;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.ui.menu .active.item {
  background-color: #3498db !important;
  border-bottom: solid #e67e22 !important;
}

form label {
  text-align: left;
  color: #2980b9 !important;
}

.login form {
  width: 350px !important;
  margin: auto;
}

.login form input {
  font-size: 32px !important;
  height: 32px;
  color: #2980b9 !important;
}

.login .button {
  width: 350px !important;
  height: 46px !important;
}


.billing .activities {
  border: solid #7f8c8d 1px;
  width: 90% !important;
  margin: 20px 20px !important;
  padding: 20px 20px !important
}

.billing .steps {
  margin: auto;
}

.master {
  width: 250px;
  margin: 20px 20px;
  background-color: #ffffff;
  text-color: #2980b9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 10px !important;
}

.master .header.head {
  font-size: 20px;
  color: #c0392b !important;
  text-transform: uppercase;
  padding-top: 10px !important;
}

.master .content {
  margin: 20px 20px;
}

.billing .box {
  display: flex;
  flex-wrap: wrap;
}

.content .header{
  color: #2980b9 !important;
}

.modal span.head {
  text-transform: uppercase;
  color: #2980b9 !important;
}

h1.ui.header {
    text-align: center;
}
